APP_NAME="Semgrep Demo"
APP_ENV=local
APP_KEY=

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=demo
DB_USERNAME=demo
DB_PASSWORD=secret

# Cómo DEBE leerse en código:
#   Stripe::setApiKey(config('services.stripe.secret'))
STRIPE_SECRET=
